/* redundant file */

 *{
    /* box-sizing: border-box; */
    margin: 0; /* Reset margins */
    padding: 0; /* Reset padding */
    box-sizing: border-box; /* Add this back to include padding in element dimensions */
}
  
  #root{
    min-width: 100vh;  /* Child div takes 100% of body width */
    height: 100%; /* Child div takes 100% of body height */
  }
    
  body {
    min-height: 100vh;
    width: 100%;
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: #333;
    color: aliceblue;
    background-size: contain;
    background-position: top left;
    overflow-x: hidden;
    
    /* background-position: center; */
    /* z-index: -1; */
  }
  
  /* Navbar */
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 20px;
    z-index: 10;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  /* Section Styles */
  .section {
    min-height: 100vh;
    width: 100%;
    padding: 100px 20px; /* Space for navbar */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
       
    
    /* margin-top: 0; Ensure no extra margin */
    
    /* scroll-behavior: smooth; Smooth scrolling */
  }
  
  /* Different section background colors */
    #section1 { 
        padding-top: 0px;
    }
  /* Photo Gallery */
  .gallery .photos {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  /* Smooth Scrolling */
  html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
  }
  


  .half-div {
    flex: 1;                 /* Each div takes up equal space */
    height: auto;            /* Full height of the section */
    margin: 0 10px;          /* Optional: Add space between the divs */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  /* Center content horizontally */
    align-items: center;      /* Center content vertically */
    font-size: 24px;          /* Example font size */
  }
  