.About-text {
  margin-bottom: 20px;
  margin-top: 50px;
}


/* #section3 {
  display: flex;          
  justify-content: space-between; 
  align-items: center;     
  height: 100vh;           
  padding: 20px;           
} */

#section3 {
  display: flex;           /* Enables flexbox */
  justify-content: space-between; /* Evenly space items horizontally */
  align-items: center;     /* Align items vertically in the middle */
  height: 100vh;           /* Full viewport height */
  padding: 5%;             /* Padding set as percentage for responsiveness */
}



.left-div {
  flex: 0 0 65%;             /* Take up 60% of the section width */
  height: 100%;            /* Full height of the section */
  margin: 0 10px;  
  display: flex;
  flex-direction: column;    /* Stack h1 and p vertically */
  justify-content: flex-start; /* Align content at the top */
  align-items: center;   /* Align content to the left */
  padding: 20px;
  font-size: 24px;
}

.right-div {
  flex: 0 0 35%;             /* Take up 40% of the section width */
  
  display: flex;
  justify-content: center;   /* Center horizontally */
  align-items: center;       /* Center vertically */
}

.right-div img {
  max-width: 100%;           /* Ensure the image scales to fit */
  height: auto;              /* Maintain the aspect ratio */
  margin-right: 50px;
}

@media only screen and (max-width: 768px) {
  .right-div {
    display: none; /* Hide the right-div, including the image, on small screens */
  }
}