/* 
 .section {

    margin-top: 0; 
    height: 100vh;
    padding: 100px 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
  } */

  .section {
    margin-top: 0; /* Ensure no extra margin */
    /* height: 100vh; */
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%; /* Prevent overflow */
    overflow: hidden; /* Prevent content from spilling out */
    padding: 10% 5%; /* Ensure padding doesn’t push content out */
    padding: 10% 5%; 
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth; /* Smooth scrolling */
}