/* 
 .section {

    margin-top: 0; 
    height: 100vh;
    padding: 100px 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
  } */

  .section {
    margin-top: 0; /* Ensure no extra margin */
    /* height: 100vh; */
    height: 100%;
    padding: 10% 5%; /* Space for navbar with percentage-based padding */
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth; /* Smooth scrolling */
}