*::before,
*::after ,
* {
    box-sizing: border-box;
    margin: 0; /* Reset margins */
    padding: 0; /* Reset padding */
}
html {
width: 100%;
overflow-x: hidden;
 scroll-behavior: smooth;
 margin-left: 0;
 margin: 0;
 padding: 0;
 
}
body {
  color: aliceblue;
  background-image: url(/img/background.jpg);
  background-size: cover;
  background-position: top left;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: -1;
}
  
  #root{
    width: 100%;  /* Child div takes 100% of body width */
    height: 100%; /* Child div takes 100% of body height */
    
  }
    
  img, video {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure no unexpected inline space */
}