
/* #section5 {
   display: flex;           
   justify-content: space-between; 
   align-items: center;     
   height: 100vh;           
   padding: 20px;           
 } */

 #section5 {
   display: flex;           
   justify-content: space-between; /* Evenly space items horizontally */
   align-items: center;     /* Align items vertically in the middle */
   /* height: 100vh;           */
   height: 100%;
   /* width: 100%; */
   padding: 5%;             /* Padding as percentage for responsiveness */
}
 

#section5 h1{
    margin-bottom: 20px;
    margin-top: 50px;
      text-align: center;
  }
  
  
  
  .Events {
    flex: 0 0 70%;             /* Take up 60% of the section width */
    height: 100%;            /* Full height of the section */
    margin: 0 10px;  
    display: flex;
    flex-direction: column;    /* Stack h1 and p vertically */
    justify-content: flex-start; /* Align content at the top */
    align-items: center;   /* Align content to the left */
    padding: 20px;
    font-size: 24px;
  }
  
  .Telescope {
    flex: 0 0 30%;             /* Take up 40% of the section width */
    display: flex;
    justify-content: center;   /* Center horizontally */
    align-items: center;       /* Center vertically */
  }
  
  .Telescope img {
    max-width: 100%;           /* Ensure the image scales to fit */
    height: 50vh;             
    margin-right: 50px;
    /* height: auto; */
  }

  .carousal-container-events{
    display: flex;
    
  }

  .carousel-events {
    display: flex;
    /* overflow-x: auto; */
    overflow-x: hidden;
    padding: 20px;
    gap: 20px;
    scroll-behavior: smooth;
  }
  
  .carousel-item-events {
    position: relative;
    min-width: 250px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .carousel-item-events:hover {
    transform: scale(1.2);
  }
  
  .carousel-image-events {
    width: 100%;
    border-radius: 10px;
  }
  
  .image-content-events {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  
  .carousel-item-events:hover .image-content-events {
    display: block;
  }
  
  .carousel-events::-webkit-scrollbar {
    display: none;
  }
  .scroll-button-events {
    margin-top: 150px;
    /* position: absolute; */
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .scroll-button-events.left {
    left: 0;
  }
  
  .scroll-button-events.right {
    right: 0;
  }
  
  .scroll-button-events:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  @media only screen and (max-width: 768px) {
    .Telescope {
      display: none; /* Hide the right-div, including the image, on small screens */
    }
  }
  