/* 
 #section5 {
   display: flex;
              
   justify-content: space-between;
   align-items: center;     
   
   height: 100%;
   
   padding: 5%;           
}
 

#section5 h1{
    margin-bottom: 20px;
    margin-top: 50px;
      text-align: center;
  }
  
  
  
  .Events {
    flex: 0 0 70%;            
    height: 100%;            
    margin: 0 10px;  
    display: flex;
    flex-direction: column;  
    justify-content: flex-start; 
    align-items: center;   
    padding: 20px;
    font-size: 24px;
  }
  
  .Telescope {
    flex: 0 0 30%;            
    display: flex;
    justify-content: center;  
    align-items: center;      
  }
  
  .Telescope img {
    max-width: 100%;          
    
    max-width: 50vh;
    
    margin-right: 50px;
    
  }

  .carousal-container-events{
    display: flex;
    
  }

  .carousel-events {
    display: flex;
    
    overflow-x: hidden;
    padding: 20px;
    gap: 20px;
    scroll-behavior: smooth;
  }
  
  .carousel-item-events {
    position: relative;
    min-width: 250px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .carousel-item-events:hover {
    transform: scale(1.2);
  }
  
  .carousel-image-events {
    width: 100%;
    border-radius: 10px;
  }
  
  .image-content-events {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  
  .carousel-item-events:hover .image-content-events {
    display: block;
  }
  
  .carousel-events::-webkit-scrollbar {
    display: none;
  }
  .scroll-button-events {
    margin-top: 150px;
    
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .scroll-button-events.left {
    left: 0;
  }
  
  .scroll-button-events.right {
    right: 0;
  }
  
  .scroll-button-events:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  @media only screen and (max-width: 768px) {
    .Telescope {
      display: none; 
    }
  }
   */

   #section5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 5%;
  }
  
  #section5 h1 {
    margin: 50px 0 20px;
    text-align: center;
  }
  
  .Events {
    flex: 0 0 70%;
    height: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    font-size: 24px;
  }
  
  .Telescope {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Telescope img {
    max-width: 50vh;
    margin-right: 50px;
  }
  
  /* Media Queries */
  @media only screen and (max-width: 768px) {
    .Telescope {
      display: none;
    }
    
    .Events {
      flex: 0 0 100%;
    }
  }